.el-form-item__label{
    color: $textLevelC;
    width: 160px;
    text-align: left;
}
.el-form-item__content{
    margin-left: 160px;
    & .el-input{
        width: 280px;
    }
    & .el-textarea__inner{
        width: 280px;
    }
}
.el-form-item{
    margin-left: 15px;
    margin-bottom: 20px;
}
.el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before {
    content: '*';
    color: #f56c6c;
    position: absolute!important;
    left: 15px!important;
}
